<!DOCTYPE html>
<html>
  <head>
    <title>DuoJuo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/user/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    
    <script type="text/javascript">
        window.logoURL = "<%= image_url('icon-sprite8.svg') %>"
        
  </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
